@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #050505; 
  color: #e4e4e7; 
}

.font-lcd { 
  font-family: 'Share Tech Mono', monospace; 
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #09090b; }
::-webkit-scrollbar-thumb { background: #3f3f46; border-radius: 0px; }
::-webkit-scrollbar-thumb:hover { background: #52525b; }

/* Noise Animation */
@keyframes noise {
  0%, 100% { transform: translate(0,0); }
  10% { transform: translate(-5%,-5%); }
  20% { transform: translate(-10%,5%); }
  30% { transform: translate(5%,-10%); }
  40% { transform: translate(-5%,15%); }
  50% { transform: translate(-10%,5%); }
  60% { transform: translate(15%,0); }
  70% { transform: translate(0,10%); }
  80% { transform: translate(-15%,0); }
  90% { transform: translate(10%,5%); }
}

.noise-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: noise .2s infinite;
  opacity: .05;
  visibility: visible;
  pointer-events: none;
  z-index: 50;
}